html
  head
    title Success
    link(rel="stylesheet", href="/stylesheets/foundation.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    img(src="/images/success_baby.jpg")
